
html,body {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans HK', 'Playfair Display', sans-serif;
  cursor: grabbing; 
}

html {
  background: linear-gradient(#66CDAA, #FA8072); 
}  

body {
  background: rgba(255, 255, 255, 0.7);
}

#app {
  /* position: absolute; */
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

:root {

  --fc-page-bg-color: #fff;
  --fc-neutral-text-color: #a3a3a3;
  
  --fc-button-bg-color: #909090;
  --fc-button-border-color: none;
  --fc-button-hover-bg-color: #3f3838;
  --fc-button-hover-border-color: none;
  --fc-button-active-bg-color: #515151;
  --fc-button-active-border-color: none;

  --fc-event-bg-color: #9b8c7b;
  --fc-event-border-color: #9b8c7b;
  --fc-event-text-color: #fff;
  --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);

  --fc-card-hover-bg-color: none;

}


.fc-col-header-cell-cushion{
  color: #888888;
  font-weight: 150;
}

.fc-daygrid-day-number{
  color: #7a7a7a;
}

.fc-timegrid-axis-cushion{
  color: #7a7a7a;
  font-weight: 100;
}
.fc-timegrid-slot-label-cushion{
  color: #7a7a7a;
}

.fc-multimonth-title{
  color: #5a5a5a;
  font-weight: thin;
}

.fc .fc-toolbar-title {
  color: #888888;
  font-size: 26px;
  font-weight: 100;
}


@media (min-width: 700px) and (max-width: 1200px) {


  .fc-col-header-cell-cushion{
    font-size: 16px;
  }
  .fc-daygrid-day-number{
    font-size: 14px;
  }
  .fc-event{
    font-size: 12px;
  }

}
  

@media (min-width: 480px) and (max-width: 700px) {
  .fc .fc-toolbar-title {
    color: #7a7a7a;
    font-size: 20px;
    font-weight: 100;
    white-space: nowrap;
  }

  .fc .fc-button{
    font-size: 14px;
    align-items: center;
  }
  .fc .fc-toolbar{
    display: flex;
    justify-content: space-between;

  }
  .fc .fc-button .fc-icon{
    font-size: 12px;
  }
  
  .fc .fc-today-button{
    display: none;
  }
  .fc .fc-button-group{
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    /* margin: 0 30px; */
  }

  .fc-col-header-cell-cushion{
    font-size: 12px;
  }
  .fc-daygrid-day-number{
    font-size: 12px;
  }
  .fc-event{
    font-size: 10px;
  }

}
  

@media (min-width: 340px) and (max-width: 480px) {
  .fc .fc-toolbar-title {
    color: #7a7a7a;
    font-size: 16px;
    white-space: nowrap;
  }

  .fc .fc-button{
    font-size: 12px;
    align-items: center;
    padding: 5px;
  }
  .fc .fc-toolbar{
    display: flex;
    justify-content: space-between;

  }
  .fc .fc-button .fc-icon{
    font-size: 12px;
  }
  
  .fc .fc-today-button{
    display: none;
  }
  .fc .fc-button-group{
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
  }

  .fc-col-header-cell-cushion{
    font-size: 9px;
  }
  .fc-daygrid-day-number{
    font-size: 12px;
  }
  .fc-event{
    font-size: 9px;
  }

}
  

@media (min-width: 0px) and (max-width: 340px) {
  .fc .fc-toolbar-title {
    color: #7a7a7a;
    font-size: 13px;
    /* margin-left: 70%; */
    white-space: nowrap;
  }

  .fc .fc-button{
    font-size: 10px;
    align-items: center;
    padding: 5px;
  }
  .fc .fc-toolbar{
    display: flex;
    justify-content: space-between;

  }
  .fc .fc-button .fc-icon{
    font-size: 12px;
  }
  
  .fc .fc-today-button{
    display: none;
  }
  .fc .fc-button-group{
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
  }

  .fc-col-header-cell-cushion{
    font-size: 9px;
  }
  .fc-daygrid-day-number{
    font-size: 12px;
  }
  .fc-event{
    font-size: 8px;
  }

}
  